/* Resetowanie stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Globalne style */
body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #131a26;
    color: white;
    padding: 40px 0;
    text-align: left;
}

.title {
    max-width: 800px;
    margin: 0 auto;
}

main {
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 800px;
    width: 100%;
    margin: 20px;
}

/* Status */
.status {
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
    box-shadow: -25px 18px 39px -33px rgba(66, 68, 90, 1);
}

.status h2 {
    margin-left: 30px;
}

/* Statusy */
.positive {
    background-color: #AAFF00;
}

.positive:hover{
    background-color: #9ab46b;
}

.small-positive {
    background-color: #9ab46b;
}

.small-positive:hover{
    background-color: #838080;
}

.neutral {
    background-color: #838080;
}

.negative {
    background-color: #FF5733;
}

.success {
  color: #3bd671;
}

.failure {
  color: #FF5733;
}

/* Logi */
.status-box {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 25px;
    width: 7px;
    margin: 1px;
    border-radius: 5px;
    transition: all 0.3s;
}

.status-box .info-box {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: calc(100% + 5px);
    background-color: black;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1;
}

.info-box p {
    margin-top: 8px;
}

.all-service-title {
    height: 50px;
    font-size: 25px;
    font-weight: bold;
}

/* Usługi */

.services {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 200px;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
    box-shadow: -25px 18px 39px -33px rgba(66, 68, 90, 1);
}

.service {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
}

.service a, .service > p {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: 10px 0;
    font-weight: normal;
    font-size: 17px;
    transition: 0.3s all;
}

p.title{
    font-size: 30px;
    margin: 10px 0;
}

.service-info{
    width: 650px;
}
canvas{
    margin: 20px 0;
}


.service a:hover{
    color: #5b5a5a;
}

.status-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.online {
    background-color: #3bd671;
}

.offline {
    background-color: #FF5733;
}


hr {
    margin: 10px 0;
    border: 1px solid #c7c1c1;
}

.status-box:hover .info-box {
    display: block;
    transition-delay: 0.3s;
}
